---
import EmailIcon from "@icons/Email.astro";
import CvIcon from "@icons/Cv.astro";
import GithubIcon from "@icons/Github.astro";
import LinkedInIcon from "@icons/LinkedIn.astro";

import ContactButton from "@components/home/ContactButton.astro";

const technologies = [
  {technology: "html", href: "https://developer.mozilla.org/en-US/docs/Web/HTML"},
  {technology: "css", href: "https://developer.mozilla.org/en-US/docs/Web/CSS"},
  {technology: "tailwind", href: "https://tailwindcss.com/"},
  {technology: "react", href: "https://reactjs.org/"},
  {technology: "javascript", href: "https://developer.mozilla.org/en-US/docs/Web/JavaScript"},
  {technology: "typescript", href: "https://www.typescriptlang.org/"},
  {technology: "astro", href: "https://astro.build/"},
  {technology: "express", href: "https://expressjs.com/"},
  {technology: "c", href: "https://en.wikipedia.org/wiki/C_(programming_language)"},
  {technology: "java", href: "https://www.java.com/"},
  {technology: "spring", href: "https://spring.io/"},
  {technology: "mongodb", href: "https://www.mongodb.com/"},
  {technology: "mysql", href: "https://www.mysql.com/"},
  {technology: "git", href: "https://git-scm.com/"},
];
---

<section id="home" class="relative flex h-screen w-full ">
    <div class="flex flex-col space-y-12 text-center justify-center w-full">
        <h1 class="font-semibold text-4xl sm:text-5xl lg:text-6xl">
            <span class="block text-indigo-400 text-3xl sm:text-5xl lg:text-6xl mb-4">Fullstack Junior Developer</span>
            Lucas Smilari</h1>

        <div class="flex flex-col justify-center items-center gap-4">
            <button class="group flex relative font-semibold items-center gap-3 bg-indigo-400 px-2 pb-0.5 pt-1 rounded-lg transform duration-300 hover:scale-105">
                <a href="mailto:smilari.lucas@gmail.com" target="_blank" rel="noreferrer noopener"
                   aria-label="Email" title="Email"><span
                        class="absolute -inset-y-1 -inset-x-0.5 rounded"></span>
                    <EmailIcon class="h-6 w-6 sm:h-7 sm:w-7 lg:h-8 lg:w-8"></EmailIcon>
                </a>
                <span class="text-xs sm:text-sm lg:text-base">smilari.lucas@gmail.com</span>
            </button>

            <ul class="flex justify-center items-center gap-4">
                <ContactButton icon={CvIcon} href="/Cv.pdf" label="CV" title="CV"/>
                <ContactButton icon={GithubIcon} href="https://github.com/smilari" label="GitHub" title="GitHub"/>
                <ContactButton icon={LinkedInIcon} href="https://www.linkedin.com/in/lucas-smilari/" label="LinkedIn"
                               title="LinkedIn"/>
            </ul>
        </div>
    </div>

    <footer class="absolute bottom-20 left-0 right-0 flex justify-center">
        <div class="grid grid-cols-7 gap-2">
          {technologies.map(({technology, href}) => (
                  <a href={href}
                     target="_blank" rel="noreferrer noopener"
                     aria-label="Skill Icon" title="Skill Icon">
                      <img
                              class="opacity-80 transition-transform duration-150 hover:scale-[120%]"
                              src={`https://skillicons.dev/icons?i=${technology}`}
                              alt={technology}
                              width="32"
                              height="32"
                      />
                  </a>
          ))}
        </div>
    </footer>
</section>